---
const personalImageAlt = "Santiago";
---

<article
  class="flex mx-12 pb-12 flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Santiago Ismael Llumiquinga Cañaveral, pero mis amigos me llaman
      Santi. Comencé en la programación cuando tenía 17 años. Actualmente, estoy
      <strong>
        actualmente estoy finalizando mi carrera en Ingeniería en TI en la
        Universidad de las Fuerzas Armadas (ESPE), Ecuador.</strong
      >.
    </p>
    <p>
      A lo largo de mi trayectoria, he trabajado en el desarrollo de
      aplicaciones móviles, desarrollo web y análisis de datos, utilizando
      tecnologías como Flutter, React, Django, Node.js y diversas bases de
      datos.
    </p>
    <p>
      Algunos de mis logros incluyen: <br />
      <ul class="list-disc pl-5">
        <li>
          <strong>Desarrollo de una aplicación móvil en Flutter</strong> para la
          automatización de procesos, con soporte offline y sincronización de datos
          con una base de datos MySQL.
        </li>
        <li>
          <strong>Implementación del portal de BI en Telefónica</strong>,
          mejorando su usabilidad mediante la incorporación de componentes
          dinámicos y automatización de procesos con PySpark y Python.
        </li>
        <li>
          <strong>Optimización de la plataforma interna de Pofasa</strong>,
          donde creé módulos en VBA, desarrollé scripts en Python y desplegué
          servicios en máquinas virtuales con VMware.
        </li>
      </ul>
    </p>
    <p>
      Mi objetivo es seguir perfeccionando mis habilidades, aprender nuevas
      tecnologías y aportar soluciones innovadoras en el campo del desarrollo de
      software.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/img/foto_santiago.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-cyan-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
