---
const personalImageAlt = "Santiago";
---

<article
  class="flex mx-12 pb-12 flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-500 dark:[&>p>strong]:text-cyan-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Santiago Ismael Llumiquinga Cañaveral, pero mis amigos me llaman
      Santi. Comencé en la programación cuando tenía 17 años. Actualmente, estoy
      <strong
        >terminando la universidad y realizando mis prácticas en Telefónica</strong
      >.
    </p>

    <p>
      Algunos de mis logros incluyen: <br />
      <strong>
        Crear una aplicación móvil en Flutter para la automatización de
        procesos, la cual contaba con varios módulos, enviaba alertas y
        funcionaba offline. Los datos se sincronizaban posteriormente con una
        base de datos.
      </strong>
    </p>

    <p>
      Además, he desarrollado el portal de BI <strong>
        en la empresa donde trabajo actualmente (<em class="italic"
          >Telefónica</em
        >)
      </strong>. Mi objetivo es mejorar cada día en lo que me apasiona y seguir
      creciendo tanto a nivel personal como profesional.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/img/foto_santiago.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-cyan-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
