---
import ExperienceItems from "./ExperienceItems.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2024 - Actualidad",
    title: "Desarrollador Big Data",
    company: "Softconsulting S.A.",
    description: `Mi rol es mejorar la página web del área de BI, utilizando ASP.NET y añadiendo diversas funcionalidades, 
          como la inserción de datos en la base de datos de Oracle, actualización de registros y búsqueda personalizada. 
          También me enfoco en mejorar la usabilidad y accesibilidad de la página web mediante la implementación 
          de componentes dinámicos. Adicionalmente, trabajo con metadatos para garantizar una gestión eficiente de 
          la información y su integridad en el portal de BI. Implemento automatizaciones y utilizo PySpark para el 
          análisis de Big Data, creando scripts en Python para la generación y visualización de tableros en Power BI, 
          utilizando metodologías ágiles y todo esto en base a de requerimientos proporcionados por Telefónica.`,
    link: "https://www.softconsulting.com.ec/",
  },
  {
    date: "Mayo 2024 - Octubre 2024",
    title: "Pasante de Gobierno de Datos",
    company: "Telefónica",
    description: `Mi rol es dar mejoras funcionalidades a la página web del área de BI de telefónica tanto en el frontend como 
      el backend con tecnologías actuales, creación de componentes, corregir bugs del portal web, integración de 
      pruebas`,
    link: "https://www.telefonica.com.ec/",
  },
  {
    date: "Septiembre 2023 - Abril 2024",
    title: "Software Developer Assistant",
    company: "Pofasa",
    description:
      "Desarrollé una aplicación móvil personalizada que funciona tanto online como offline para la gestión de registros y automatización de procesos. La aplicación consume APIs alojadas en el servidor, lo que permite la sincronización de registros con una base de datos MySQL. También desarrollé una página web utilizando Django como backend y React como frontend, creando un dashboard personalizado, accesible y fácil de usar para los usuarios.",
  },
  {
    date: "Marzo 2023 - Septiembre 2023",
    title: "Software Developer Intern",
    company: "Pofasa",
    description:
      "Durante mi trabajo diario, añadía funcionalidades al software interno de la empresa utilizando VBA. Uno de mis logros fue desarrollar el módulo de pedidos y corregir un bug de seguridad que permitía a los usuarios ingresar valores después de la fecha de corte. Además, brindé soporte en infraestructura y gestioné servicios en máquinas virtuales alojadas en VMware. Desarrollé scripts en Python para mejorar la eficiencia de los colaboradores y pusimos en marcha un sistema de tickets para la gestión de solicitudes.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItems {...experience} />
      </li>
    ))
  }
</ol>
